/* Indivisa sans */

@font-face {
    font-family: 'IndivisaSans';
    src:
        url('./fonts/indivisa_display_sans-regular.woff2') format('woff2'),
        url('./fonts/indivisa_display_sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
