$back-color: white;
$primary-color: #f0f0f0;
$access-color: lightgreen;
$nav-background: blue;
$nav-color: rgb(225, 225, 225);
$active-color: rgb(255, 255, 50);
$success-color: #0f08;
$danger-color: #f008;
$warning-color: #ff08;
$new-color: #f0f8;
